body {
  padding-top: 20px;
  font-family: "Geo", Arial;
  color: white;
  text-shadow: 2px 2px 4px #000;
  background: url("../images/bg.png") no-repeat;
}
.container {
  text-align: center;
}
#winImage,
#gameOverImage {
  display: block;
  margin: 0 auto;
}
#currentWord {
  letter-spacing: 10px;
}
#tryAgain,
#winImage,
#gameOverImage {
  display: none;
}
.gameplayCol {
  padding-top: 20px;
  border: 4px outset #333;
  text-align: center;
  margin-top: 20px;
  min-height: 600px;
  background-color: rgba(51, 51, 51, 0.8);
}
h1,
h2 {
  padding: 7px;
}
